<div class="layout">
  <div class="grid gap--large">
    <div class="col--span-1 col col--center">
      {% if movie == "Kung Fu Panda" %}
        <img class="image image-dither" src="{{ poster_kfp_1_bw }}" />
      {% elsif movie == "Kung Fu Panda 2" %}
        <img class="image image-dither" src="{{ poster_kfp_2_bw }}" />
      {% elsif movie == "Kung Fu Panda 3" %}
        <img class="image image-dither" src="{{ poster_kfp_3_bw }}" />
      {% elsif movie == "Kung Fu Panda 4" %}
        <img class="image image-dither" src="{{ poster_kfp_4_bw }}" />
      {% endif %}
    </div>
    <div class="col--span-2 col col--center text--black">
      <span class="value value--xxxlarge" style="font-family: 'Courier New', monospace;" data-value-fit="true" data-value-fit-max-height="280"><img class="image" height="25px" width="25px" src='{{ opening_quote }}' style="vertical-align: top;">{{ text }}<img class="image" height="25px" width="25px" src='{{ closing_quote }}' style="vertical-align: top;"></span>
      <span class="title text--right pt--xsmall">— {{ author }}</span>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="{{ icon_kfp }}">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  {% if theme and theme != "all" %}<span class="instance">{{ theme | capitalize }}</span>{% endif %}
</div>
