{% comment %}
  Half Vertical Layout - Kung Fu Panda Quotes Plugin
  
  Displays quote prominently with character info below
  Optimized for half-height vertical displays
  
  Template Variables Expected:
  - text: The quote text
  - author: Character who said the quote
  - movie: Which Kung Fu Panda movie
  - theme: Optional theme category
{% endcomment %}

<div class="layout">
  <div class="flex flex--col gap--small h--full">
    
    {% comment %} Quote text - main content area {% endcomment %}
    <div class="flex flex--center-x flex--center-y" style="flex: 1;">
      <span class="value value--medium md:value--large" style="font-family: 'Courier New', monospace; text-align: center;" data-value-fit="true" data-value-fit-max-height="200">
        {{ text }}
      </span>
    </div>

    {% comment %} Character info at bottom {% endcomment %}
    <div class="text--center">
      <div class="title title--small md:title--medium">{{ author }}</div>
      <div class="label label--small">{{ movie }}</div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="{{ icon_kfp }}">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
