{% comment %}
  Half Horizontal Layout - Kung Fu Panda Quotes Plugin
  
  Displays quote on left, character info on right
  Portrait mode: stacks vertically
  
  Template Variables Expected:
  - text: The quote text
  - author: Character who said the quote
  - movie: Which Kung Fu Panda movie
  - theme: Optional theme category
{% endcomment %}

<div class="layout">
  <div class="flex flex--row gap--medium portrait:flex--col flex--center-y h--full">
    
    {% comment %} Quote text - left side on landscape {% endcomment %}
    <div class="flex flex--center-x flex--center-y" style="flex: 1;">
      <span class="value value--medium md:value--large" style="font-family: 'Courier New', monospace;" data-value-fit="true" data-value-fit-max-height="180">
        {{ text }}
      </span>
    </div>

    {% comment %} Character details - right side on landscape {% endcomment %}
    <div class="flex flex--col gap--xsmall portrait:gap--small" style="max-width: 200px; portrait:max-width: 100%;">
      <div class="text--center">
        <div class="title title--small md:title--medium">{{ author }}</div>
      </div>
      <div class="text--center">
        <div class="label label--small">{{ movie }}</div>
      </div>
      {% if theme %}
      <div class="text--center">
        <div class="description">{{ theme }}</div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="{{ icon_kfp }}">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
